*{
  margin: 0;
  padding: 0;
}
/* styles.css */

/* Global Styles */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* styles.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group-addform {
  margin-bottom: 20px;
}

.form-control-addform {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.btn-addform {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #222;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.card-text {
  margin-bottom: 10px;
  color: #fff;
}

.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.btn-card {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-delete {
  display: inline-block;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-list {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.search-form {
  margin-bottom: 20px;
}

.form-group-search {
  margin-bottom: 10px;
}

.form-control-search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.btn-search {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
