*{
  margin: 0;
  padding: 0;
}
/* App.css */
body {
  background-color: #1f1f1f;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* EmployeeList.css */
.heading-list {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-list {
  background-color: #5a67d8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* SearchForm.css */
.search-form {
  margin-bottom: 20px;
  text-align: center;
}

.form-group-search {
  margin-bottom: 10px;
}

.form-control-search {
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  padding: 10px;
  width: 100%;
}

.btn-search {
  background-color: #5a67d8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* AddForm.css */
.form-group-addform {
  margin-bottom: 10px;
}

.add-label {
  font-weight: bold;
}

.form-control-addform {
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  padding: 10px;
  width: 100%;
}

.btn-addform {
  background-color: #5a67d8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* EmployeeCard.css */
.card {
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.img-card {
  max-height: 200px;
  margin-bottom: 10px;
}

.btn-card,
.btn-delete {
  background-color: #5a67d8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

/* UpdateForm.css */
.form-group-update {
  margin-bottom: 10px;
}

.form-control-update {
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  padding: 10px;
  width: 100%;
}

.btn-update {
  background-color: #5a67d8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
